@charset "utf-8";
/* text-transform: uppercase; serve para deixa tudo em letra grande*/

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bolder;  
}

header a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.452);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}
/*
header {
    background-color: black;
    color: white;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: 6em;
    padding: 65PX;
}

header > nav {
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 1px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}*/
